<h1 class="cover-heading">Would you like to work together?</h1>
    
<hr>
  
<div class="inner cover">
	<div class="row">
		<div class="col-md-6">  
	   		<h3>Office Address</h3>
			
			<p>779 Coral Dr. Rodeo, CA 94572</p>
			
			<h3>Phone</h3>

			<p><%= number_to_phone"5103340781" %></p>
			
			<h3>Email</h3>
				
			<p><a href="mailto:ivanr@graphmug.com?subject=PortfolioContact" "email me">Email me</a></p>
		</div>	
		
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3230.141813073227!2d-122.25721341818144!3d38.018929520175945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085712f698e0a73%3A0x5d5f60c8fc6f8f14!2s779%20Coral%20Dr%2C%20Rodeo%2C%20CA%2094572!5e0!3m2!1sen!2sus!4v1585892587144!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>		
	</div>
</div>
